*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mode-label {
    display: block;
    font-size: 24px;
    color: #ffffff;
    opacity: 0.8;
    margin-bottom: 20px;
}

.calculator{
    background: #41424C;
    padding: 20px;
    border-radius: 10px;
    width: 360px;   
}

.calculator input[type="button"]{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
                5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.display{
    width: 100%;         
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    border: none;
    outline: none;
    background: transparent;  
    color: #fff;           
}

.calculator input.equal{
    background-color: #33ffd8;
    color: #fff;           
}

.calculator input.operators{
    color: #33ffd8;
}
